<main class="py-5">
    <section class="mb-5">
      <div class="container">
          <h3 class="mb-3">View product :  {{ productDto.productId }}</h3>
          <div class="bg-light p-4">
              <div class="row">
                  <div class="col-lg-4">
                      <label for="">MUESTRA CATEGORIA :  </label>
                      {{ productDto.productCategoryName }}
                  </div>                         
                  
                  <div class="col-lg-4">
                      <label for="">name:  </label>
                      {{ product.name }}
                  </div>

              </div>

              <div class="row">
                  <div class="col-lg-4">
                      <label for="">description:  </label>
                      {{ product.description }}
                  </div>

                  <div class="col-lg-8">
                      <label for="">price:  </label>
                      {{ product.price }}
                  </div>
              </div>               
          </div>
      </div>
    </section>
</main>

